
<h1>Create a new merchant</h1>

<form method="POST" action="/merchants">
  <label
  for="first-input">Name:
  </label>
  <input
    type="text"
    name="name"
    id="first-input"/>
  <br>
  <br>

  <input type="submit" value="Add Merchant"/>
</form>
