

<p><%= @merchant.name %>was updated!</p>

<form method="GET" action="/merchants">
  <input type="submit" value="Return to merchants"/>
</form>

<form method="GET" action="/transactions">
  <input type="submit" value="Return to homepage"/>
</form>
