






<h1><%= @category.name %> was created!</h1>

<form method="GET" action="/categories">
  <input type="submit" value="Return to categories"/>
</form>

<form method="GET" action="/transactions">
  <input type="submit" value="Return to homepage"/>
</form>
