

<h1>Create a new Category</h1>

<form method="POST" action="/categories">
  <label
  for="first-input">Name:
  </label>
  <input
    type="text"
    name="name"
    id="first-input"/>
  <br>
  <br>

  <input type="submit" value="Add Category"/>
</form>
