

<p>Transaction created<br></p>

<div class="warning">
  <p>Warning! You are now overbudget!</p>
  <p>Have you got more money to add?</p>
</div>

<br>

<form method="GET" action="/budgets">
  <input type="submit" value="Update Budget"/>
</form>

<br>

<form method="GET" action="/transactions">
  <input type="submit" value="Return to homepage"/>
</form>
