

<p>Transaction created<br></p>

<div class="warning">
  <p>Warning! Your budget is now <%= @budget1.amount %>!</p>
</div>

<form method="GET" action="/transactions">
  <input type="submit" value="Return to homepage"/>
</form>
